language: julia

os:
  - osx
  - linux

julia:
  - 1.0
  - nightly

notifications:
  email: false

after_success:
  - julia -e 'if VERSION >= v"0.7.0-" using Pkg end; cd(Pkg.dir("Example")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';

#jobs:
#  include:
#    - stage: "Documentation"
#      julia: 1.0
#      os: linux
#      script:
#        - julia --project=docs/ -e 'using Pkg; Pkg.instantiate();
#                                    Pkg.develop(PackageSpec(path=pwd()))'
#        - julia --project=docs/ docs/make.jl
#      after_success: skip
